<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Escolhe uma cor ai bixo</h1>
    <form method="post" action="{{url_for('background')}}">
        <select name="cor" id="">
            <option value="red">Amarelo</option>
            <option value="blue">Amarelo</option>
            <option value="purple">Amarelo</option>
            <option value="pink">Amarelo</option>
            <option value="gray">Amarelo</option>
            <option value="orange">Amarelo</option>
            <option value="green">Amarelo</option>
            <option value="cyan">Amarelo</option>
        </select>
        <button>Mandá</button>
    </form>
</body>
</html>