<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <header>
        <h1>Cadastre sua preferência de filmes</h1>
    </header>
    <main>
        <form method="post"  action="{{ url_for('cookies.salvar_preferencias') }}">
            <div class="container">
                <label for="nome">Nome de usuário</label>
                <input type="text" name="nome" required>
                <label for="genero">Gênero favorito</label>
                <select name="genero" id="" required>
                    <option value="" selected>Selecione um Gênero</option>
                    <option value="Ação">Ação</option>
                    <option value="Comédia">Comédia</option>
                    <option value="Ficção">Ficção</option>
                    <option value="Terror">Terror</option>
                    <option value="Drama">Drama</option>
                </select>
                <label for="notificacoes">Deseja receber notificações por email? <input type="checkbox" name="notificacoes" id=""></label>
                
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
</body>
</html>