<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <a href="{{ url_for('cadastro.cadastro_page') }}">
        <div class="botao">Cadastrar preferência</div>
    </a>
    <a href="{{ url_for('preferencias.pref_page') }}">
        <div class="botao">Visualizar preferência</div>
    </a>
</body>
</html>